.cardstyle {
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356), 0 6px 20px 0 black;
}
.centerstuff {
  display: flex;
  align-items: center;
  justify-content: center;
}
.memberpadding {
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 15px;
}
.member {
  border-radius: 5%;
  width: auto;
}
.hpb {
  color: #03dac5e3;
  line-height: 35px;
  font-size: 45px;
}
.member-contact {
  text-align: center;
}
.img {
  border-radius: 50%;
  width: 150px;
  min-height: 150px;
}
